body {
    background: black;
    color: white;
    font-family: "Courier New", Courier, monospace;

    overflow: hidden;
}

.paddle {
    border: 1px solid #cccccc;
    background: white;

    display: inline-block;
    height: 80px;
    width: 5px;
}

.paddle[data-player="1"] {
    position: absolute;
    left: 10px;
    top: 1%;
}

.paddle[data-player="2"] {
    position: absolute;
    right: 10px;
    top: 1%;
}

.ball {
    background: white;
    height: 14px;
    width: 14px;
    border-radius: 7px;

    position: absolute;
    top: 50%;
    left: 50%;
}

.scoreboard {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
